@import url("https://fonts.googleapis.com/css?family=Inconsolata&effect=fire-animation");

:root {
  --prim: rgb(209, 117, 68);
  --sec: rgb(70, 64, 61);
  /* --sec: rgb(220, 136, 91); */
}

body {
  font-size: 13px;
  background-color: var(--prim);
}

h1 {
  margin-top: 1px;
  margin-bottom: 1px;
  color: #dfe0e4;
  font-size: 60px;
  text-align: center;
}

h3 {
  color: #ffffff;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: #fff;
  background-color: var(--sec);
  border-color:  var(--sec);
  border-style: double;
  width: 100%;
}

button.submit {
  color: #fff;
  border-color: #fff;
  background-color: rgb(213, 188, 175);
  width: 5rem;
}

table.menu {
  min-width: 500px;
  background-color: var(--sec);
  border-collapse: collapse;
  border-width: 2px;
  border-color: #fff;
  border-style: double;
  color: #fff;
  table-layout: fixed;
  text-align: center;
  width: 25vw;
}

table.menu td,
table.menu th {
  border-width: 2px;
  border-color: #fff;
  border-style: double;
}

.order {
text-indent: 3%;
color: rgb(87, 59, 34);
background-color: var(--sec);
background-color: rgb(255, 229, 215);
min-width: 250px;
width: 12.5vw;
}

.tax, .total {
font-weight: bold;
}

.order_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.receipt_box {
  text-indent: 3%;
  color: rgb(87, 59, 34);
  background-color: var(--sec);
  background-color: rgb(255, 229, 215);
  min-width: 250px;
  width: 12.5vw;
}

button.submitOrder {
  color: #fff;
  border-color: #fff;
  background-color: rgb(213, 188, 175);
  min-width: 250px;
  width: 12.5vw;
}